<div>
    <div>
        <h2>Checkout</h2>
    </div>
</div>

<div>
    <div>
        <h3>Current Order</h3>
        <div>
            <div>
                <h4>{{order.id}}</h4>
            </div>
            <div>
                {{!-- Price of order and button for purchace --}}
                <label>Address: </label>
                <input type="address" />
                <h4>Price: {{order.totalPrice}}</h4>
                <button>Purchase</button>
            </div>
        </div>
    </div>
</div>