<div>
    <div>
        <h2>Checkout</h2>
    </div>
</div>

<div>
    <div class="checkout">
        <h3>| Current Order |</h3>
        <div class="order">
            <div>
                <h4>{{order.id}}</h4>
            </div>
            <div class="price">
                {{!-- Price of order and button for purchace --}}
                <label>Address: </label>
                <input type="address" />
                <h4>Price: {{order.total_price}}</h4>
                <button>Purchase</button>
            </div>
        </div>
    </div>
</div>