<div>
    <div>
        <h2>Checkout</h2>
    </div>
</div>

<div>
    <div>
        <h3>Current Order</h3>
        <div>
            <div>
                {{!-- List of food/drinks selected from menu --}}
            </div>
            <div>
                {{!-- Price of order and button for purchace --}}
                <label>Address</label>
                <input type="address" />
                <h4>Price</h4>
                <button>Purchase</button>
            </div>
        </div>
    </div>
</div>