<div>
    <div>
        <h2>Checkout</h2>
    </div>
</div>

<div>
    <div class="checkout">
        <h3>| Current Order |</h3>
        <div class="order">
                <div class="price">
                {{!-- Price of order and button for purchace --}}
                    <label>Address: </label>
                    <input type="address" />
                    <h4>Price: {{total_price}}</h4>
                </div>
                <div class="sandwiches">
                    <h3>| Sandwiches |</h3>
                    {{#each sandwiches as |sandwich|}}
                        <p>{{sandwich.item_name}}</p>
                    {{/each}}
                </div>
                <div class="sideItems">
                    <h3>| Side Orders |</h3>
                    {{#each side_items as |side_item|}}
                        <p>{{side_item.item_name}}</p>
                    {{/each}}
                </div>
                <button>Purchase</button>

        </div>
    </div>
</div>