<div>
    <h2>Homepage</h2>
</div>

<div class="homepage">
    <div class="slogan">
        <img src="Delivery.jpg" alt="Delivery" />
        <h3>Order deliever right to your front door!</h3>
    </div>
    <div>
        <h3>Menu</h3>
    </div>
    <div>
        <h3>Checkout</h3>
    </div>
</div>