<div>
    <h2>Menu</h2>
</div>

<div>
    <div class="sandwiches">
        <h3>Sandwiches</h3>
        {{#each sandwiches as |sandwich|}}
        <button>-{{sandwich.item_name}}<button>
        {{/each}}
    </div>
    <div class="sideItems">
        <h3>Side Orders</h3>
        {{#each sideItems as |sideItem|}}
        <button>-{{sideItem.item_name}}<button>
        {{/each}}
    </div>
</div>