<div>
    <div>
        <h2>Hello, {{username}}</h2>
    </div>
</div>

<div>
    <div class="orders">
        <h3>| Past Orders |</h3>
        <div class="pastOrder">
            <p>You have made {{orders.length}} order/s.</p>
        </div>
    </div>
</div>