<div>
    <div>
        <h2>Checkout</h2>
    </div>
</div>

<div>
    <div>
        {{!-- list of food/drinks picked --}}
    </div>
    <div>
        <h4>Price</h4>
        <button>Purchase</button>
    </div>
</div>