<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
    <div>
        <h3>Past Orders</h3>
        <div>
            <h4><a href="/order/{{order.id}}">Reorder</a></h4>
        </div>
    </div>
</div>