<div>
    <div>
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div>
    <div>
        <h3>Past Orders: </h3>
        <div>
            <div>
                <h4><a href="/order/{{order.id}}">{{order.name}}</a></h4>
            </div>
            <div>
                <button class="btn btn-sm btn-danger" data-id="{{order.id}}">Order</button>
            </div>
        </div>
    </div>
</div>